<p [ngStyle]="{backgroundColor: getColor()}"
    [ngClass]="{online: serverStatus === 'online'}">{{ 'Server' }} Server ID: {{ serverId }}. Server status: {{ getServerStatus() }}</p>
<hr>
<p>Username: {{ username }}</p>
<input type="text"
        [(ngModel)]="username">
<br>
<p>Age: {{ userAge }}</p>
<input type="text"
        (input)="inputAge($event)">
<br>
<button class="btn btn-primary" 
        [disabled]="username === ''"
        (click)="clearName()">Reset username</button>
<p *ngIf="nameIsPresent">Username is: {{ username }}</p>
<p *ngIf="nameIsPresent">Username is: {{ username }}</p>
<p>{{ resetButton }}</p>
<br>